
nav{
  width: 100%;
}

@media screen and (max-width: 575px) {
  #cancelLog{
    margin-top: 5px;
  }
  .far{
    font-size: 4vw;
  }
  .modal{
    width: 100%;
  }
}


@media screen and (max-width: 600px) {
  .card-title-photo{
    text-align: initial;
    margin-left: 0.5em;
    margin-top: 0.3em;
    font-size: 4.7vw;
  }
  .modal{
    width: 100%;
  }
 
  .control{
    font-size: 3vw;
  }
  .p-car{
    font-size: 3vw;
  }
  .btn{
    font-size: 3vw;
  }
  p{
    font-size: 3vw;
  }
  .h1-index, .h2-index, .h3-index{
    font-size: 4vw;
  }
.img-index{
  width: 90%;
 }
  .nav-link{
    margin-top: 5px;
  }
  .media{
    margin: 10px;
  }
 }
/*This is for the top NavBar*/

.table{
  text-align: center;
}

#mdl1{
  display: none;
}

#edit-tech-btn{
  display: none;
}

#add-tech-btn{
  display: unset;
}

.fa-edit{
  margin-left: 10px;
  color: #2196F3;
}
.fa-trash-alt{
color: red;
}

#mdl-img{
  display: none;
}

#mdl-vid{
  display: unset;
}

#u1{
  display: none;
  color: red;
}

#u2{
  display: none;
  color: red;
}

#all-content{
  display: unset;
}

#to-signin{
  display: none;
  text-align: center;
}

#log-out-btn{
  display: none;
}

#top-logo{
  width: 50px;
  height: 50px;
}

.nav-link{
  margin-right: 10px;
  border: 1px solid;
  outline-color:white;
  outline-width: thin;
  border-radius: 8px;
  background-color: black;
  text-align: center;
}

.cente{
  text-align: center;
}

#img-tk{
  width: 100px;
  height: 100px;
}

.subs-form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.subs-container {
  padding: 20px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
.subs-input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
.subs-input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
.subs-input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.subs-input[type=submit]:hover {
  opacity: 0.8;
}

#p1{
  display: none;
  color: red;
}
#p2{
  display: none;
  color: red;
}
#p3{
  display: none;
  color: red;
}
#p4{
  display: none;
  color: red;
}
#subs-peti-zone{
  display: none;
}

#mdl-add-stu{
  display: none;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activee, .collapsible:hover {
  background-color: #ccc;
}

#news-content{
  display: none;
}

#news-btn{
  display: none;
}

#techs-btn{
  display: none;
}

#add-news-btn{
  display: none;
}

#edit-news-btn{
  display: none;
}

video {
  width:100%;
}

img {
  width:100%;
}

#to-signin{
  width:100%;
}

.media{
  width: 95%;
}

#photo-modal{
  display: none;
}

#edit-photo-mdl-btn{
  display: none;
}

#add-photo-btn{
  display: none;
}

#gallery-btn{
  display: none;
}

#subs-modal{
  display: none;
}

.card-img-top{
  width: 100%;
  height: 100%;
}

.h1-index{
  background-color: #3399ff;
  width: auto;
}

#contact-map{
  width: 100%;
  height: 30em;
  border:0;
  border-style: solid;
  border-width: 1px;
}

.index{
  border-top: black;
  border-style: dashed none none none;
  border-width: 1px;
}

.carousel{
  width: 80%;
  height: 30%;
}

.img-car{
  width: 100%;
}

.column-row{
  column-span:all;
  column-count: 2;
  column-gap: 2em;
 column-width: 100px;
}

.img-index{
  width: 100%;
}

.card-title-photo{
  text-align: initial;
  margin-left: 0.5em;
  margin-top: 0.3em;
}

.modal{
  width: 100%;
}

#batto-shiai{
  display: none;
}